@model trackingSystem.Models.Account

@{
    ViewBag.Title = "InfoPage";
    Layout = "~/Views/_LayoutUser.cshtml";
}

<!doctype html>
<html lang="en">
<head>
    <title>Sidebar 01</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="Css/style.css">
</head>
<body>
    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="p-4 pt-5">
                <a class="navbar-brand" href="#">
                    <img src="~/Images/logo.png" alt="Logo" style="width:40px;">
                </a>
                <ul class="list-unstyled components mb-5">
                    <li><a @Html.ActionLink("Ana Sayfa", "HomePage", "HomePage")></a></li>
                    <li class="active"><a href="#">Hesap</a></li>
                    <li><a @Html.ActionLink("Araçlar", "MapPage", "MapPage")></a></li>
                </ul>

            </div>
        </nav>

        <div id="content" class="p-4 p-md-5">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" @Html.ActionLink("Ana Sayfa", "HomePage", "HomePage")></a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Hesap</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" @Html.ActionLink("Araçlar", "MapPage", "MapPage")></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" @Html.ActionLink("Çıkış", "Login", "Login")></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div>
                @if (Session["UserID"] != null)
                {
                    <a> Kullanıcı ID: @Session["UserID"].ToString()</a>}
                <br>
                @if (Session["Username"] != null)
                {
                    <a> Kullanıcı Adı: @Session["Username"].ToString()</a>}
                <br>
                @if (Session["Firstname"] != null && Session["Lastname"] != null)
                {
                    <a> Ad Soyad: @Session["Firstname"].ToString() @Session["Lastname"].ToString()</a>}
                <br>
                @if (Session["Mail"] != null)
                {
                    <a> Mail: @Session["Mail"].ToString()</a>}
                <br>
            </div>
        </div>
    </div>
    <script src="Scripts/jquery.min.js"></script>
    <script src="Scripts/popper.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
    <script src="Scripts/main.js"></script>
</body>
</html>

